{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Додати оголошення</h1>

        {% if form.errors %}
            <ul class="errorlist" style="color: red;">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            

            <div class="form-group">
                <label for="id_category">Категорія:</label>
                {{ form.category }}
            </div>

            <div class="form-group">
                <label for="id_title">Назва:</label>
                {{ form.title }}
            </div>

            <div class="form-group">
                <label for="id_description">Опис:</label>
                {{ form.description }}
            </div>

            <div class="form-group">
                <label for="id_price">Ціна:</label>
                {{ form.price }}
            </div>
            
            
            <div class="form-group">
                <label for="id_images">Зображення:</label>
                {{ form.images }}  <!-- Django автоматически добавит 'multiple' -->
            </div>
            <div class="form-group">
               
                <p class="help-text"></p>
            </div>
            <div class="form-group">
                <label for="id_is_standard">Стандарт:</label>
                {{ form.is_standard }}
            </div>
            <div class="form-group">
                <label for="id_is_popular">Популярний:</label>
                {{ form.is_popular }}
            </div>

            <div class="form-group">
                <label for="id_is_premium">Преміум:</label>
                {{ form.is_premium }}
            </div>
            <div class="form-group">
                <label for="id_is_boosted">Підняття:</label>
                {{ form.is_boosted }}
            </div>

            <div class="form-group">
                <label for="id_premium_until">Преміум до:</label>
                {{ form.premium_until }}
            </div>
            
            <button type="submit" class="btn">Додати</button>
        </form>

        <a href="{% url 'ads_list' %}" class="back-btn">Назад до оголошень</a>
        
    </div>
{% endblock %}